
<style>
    #canvas {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      text-align: center;
      vertical-align: middle;
      border-radius: 20px;
    }
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.drop-zone p {
  font-size: 19px;
  color: #ffffff;
  text-align: center;
}
  </style>

 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 25px; margin-top: 20px; margin-left: 20px; margin-right: 20px; height: 60px;">
  <a href="#" class="navbar-brand">
    <img src="../assets/img/logo.png" height="60">
</a>
  <div class="container-fluid">
      <a class="logotext" href="index.html" style="margin-left: -30px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">remove bg</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/imageedit">edit bg</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">about</a>
              </li>
          </ul>

      <button [hidden]="hideElement" class="btn btn-primary"  style="border-radius: 15px; margin: 15px;" crossorigin="anonymous" (click)="handleDownloadClick($event)">Download Image</button>
          
      </div>
  </div>
</nav>

<div class="content3">

  <br>
  
  <div class="drop-zone">
    <div style="padding: 10px; border-radius: 15px;">
      <canvas id="canvas" #canvas [width]="canvasWidth" [height]="canvasHeight" crossorigin="anonymous" (click)="handleCanvasClick($event)" (drop)="handleBackground($event)" (dragover)="onDragOver($event)"></canvas>
    </div>
    <br>
    <p class="droptext">drag and drop a background image above</p>
  </div>
</div>



<style>


 .drop-zone {
 border: 1px dashed #ffffff;
 border-radius: 40px;
 width: 800px;
 height: 600px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 cursor: pointer;
}


.overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 opacity: 0;
 transition: opacity 0.3s ease;
 background-color: rgba(255, 255, 255, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;
}

.overlay a {
 color: #fff;
 text-transform: uppercase;
 text-decoration: none;
 border: 2px solid #fff;
 padding: 10px 20px;
 transition: all 0.3s ease;
}

.overlay a:hover {
 background-color: #fff;
 color: #000;
}

.image-container:hover img {
 opacity: 0.5;
}

.image-container:hover .overlay {
 opacity: 1;
}






.buttondownload {
 border-color: white;
 display: inline-block;
 padding: 12px 24px;
 border-radius: 30px;
 background-color: #fff;
 color: #2590b0;
 font-size: 16px;
 font-weight: bold;
 text-align: center;
 text-decoration: none;
 box-shadow: 4px 4px 4px 4px rgba(203, 214, 203, 0.4);
 transition: all 0.3s ease;
 
}

.buttondownload:hover {
 background-color: #ffffff;
 color: #1951d5;
}

</style>


