  /* ---------------------PARTICLES--------------------- */
  
  #tsparticles {
    position : absolute;
      width:100%;
      height:100%;
      z-index:-1;
  }
  
  
  #particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

/* ---------------------DROP ZONES--------------------- */

  .drop-zone-1 {
    border: 1px dashed #f8f9fa;
    border-radius: 40px;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -150px;
  }
  
  .drop-zone-1 p {
    font-size: 22px;
    color: #ffffff;
    text-align: center;
  }

  .drop-zone-2 {
    border: 1px dashed #f8f9fa;
    border-radius: 40px;
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -300px;

  }

  
  .drop-zone-2 p {
    font-size: 22px;
    color: #f8f9fa;
    text-align: center;
  }
  

  .droptext {
    font-size: 22px;
   color: #ffffff;
   text-align: center;
   margin:-50px;
  }

/* ---------------------CENTRE--------------------- */

  .center {  
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    transform: translateX(50%);
  }


  /* ---------------------CANVAS--------------------- */


  #canvas {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    border-radius: 40px;
  }
  
/* Add animation (fade in the popup) */
/* @-webkit-keyframes fadeIn {
from {opacity: 0;} 
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
} */

  /* ---------------------BUTTONS--------------------- */

.downlbutton {
  font-size: 16px;
  color: #515357;
  border-radius: 40px;
  border: 1px solid rgb(255, 255, 255);
  /* background: #f8f9fa; */
   background-color: transparent;
  height: 40px;
  width: 180px;
  text-align: center;
  cursor: pointer;
  margin-right: 30px;
}

