<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 25px; margin-top: 20px; margin-left: 20px; margin-right: 20px; height: 60px;">
    <a href="#" class="navbar-brand">
      <img src="../assets/img/logo.png" height="60">
  </a>
    <div class="container-fluid">
        <a class="logotext" href="index.html" style="margin-left: -30px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">remove bg</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/imageedit">edit bg</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>


<div class="content3">

    <p>about works!</p>


</div>



