


<ng-particles [id]="id"
[url]="particlesUrl"
[particlesInit]="particlesInit"
(particlesLoaded)="particlesLoaded($event)"
>



</ng-particles>



<div class="content2">
  <router-outlet>

  </router-outlet>
</div>








<div *ngIf="isLoading">
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
</div>



<style>

  



  .drop-zone {
  margin-top: 300px;
  border: 2px dashed #ffffff;
  border-radius: 20px;
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.drop-zone p {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}


.buttondownload {
  border-color: white;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 30px;
  background-color: #fff;
  color: #2590b0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 4px 4px 4px 4px rgba(203, 214, 203, 0.4);
  transition: all 0.3s ease;
  
}

.buttondownload:hover {
  background-color: #ffffff;
  color: #1951d5;
}




</style>








