<div class="content3">

  <div data-aos="fade-in" style="text-align: center; margin-top: -300px; margin-left: -80px;" (click)="onClick()" >
      
  
    <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)" [ngStyle]="{'visibility':hideDropBox ? 'visible' : 'hidden'}">
      <br>
      <p>drag and drop your image here</p>
      <!-- <input type="file" (change)="onFileSelected($event)" multiple> -->
    </div>
    
    <div class="image-gallery">
      <div *ngFor="let image of imageList" class="image-container card">
        <div><img [src]="image" alt="Uploaded image"></div>
        <!-- <div><button type="button" (click)="downloadImage(image)">Download</button></div> -->

        <div class="overlay">
          <button type="button" class="buttondownload" (click)="downloadImage(image)">Download</button>
        </div>
      </div>
    </div>

    

</div>
<input type="file" style="display:none" #fileInput (change)="onFileSelected($event)">

</div>


<div *ngIf="isLoading" style="border-radius: 30px;">
    <ngx-spinner type="ball-scale-multiple" 

    [fullScreen] = "false"></ngx-spinner>
  </div>



<style>



  .drop-zone {
  margin-top: 300px;
  border: 1px dashed #ffffff;
  border-radius: 40px;
  width: 130%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.drop-zone p {
  font-size: 19px;
  color: #ffffff;
  text-align: center;
}


.buttondownload {
  border-color: white;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 30px;
  background-color: #fff;
  color: #2590b0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 4px 4px 4px 4px rgba(203, 214, 203, 0.4);
  transition: all 0.3s ease;
  
}

.buttondownload:hover {
  background-color: #ffffff;
  color: #1951d5;
}

</style>



